body {
  margin: 2em 0;
}

.title {
  margin-bottom: 1em;
}

.my {
  font-family: "Myanmar Census", sans-serif;
}

.term {
  font-size: 1.4em;
}

.definition {
  font-size: 1.1em;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2.5rem;
}


.search-container{
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}

.search-container input#search{
  width: 220px;
  height: 50px;
  font-size: 20px;
  border: 1px solid rgba(85, 39, 10, 0.7);
  /*background: rgba(85, 39, 10, 0.7);*/
  background: transparent;
  color: #000;
  margin: 0;
}

.search-icon {
  display: inline-block;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fafafa;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  background: rgba(85, 39, 10, 0.7);
  color: #fafafa;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  margin-left: 2px;
}

.not-found {
  padding: 3em 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 4rem;
  }
}
