{% extends "layout.html" %}
{% block body %}
<script>

  // pmd is the component and we will use it as namespace the model classes
  var pmd = {};

  /*
   Entry is the model class
   The model layer is responsible for data storage, state management and business logic
  */
  pmd.Entry = function(data) {
    // m.prop is simply a factory for a getter-setter function
    this.pali = m.prop(data.pali);
    this.mm = m.prop(data.mm);
  };

  /*
   the EntryList class is a list of Entry and it is simply an alias of the native Array class
   e.g. var list = new pdm.EntryList();
        list.length; // 0
  */
  pmd.EntryList = Array;

  /*
    A view-model is a model level entity that stores UI state. In many frameworks UI state is typically stored in a
    controller, but doing so makes the code harder to scale since controllers aren't designed to be data providers.
    In Mithril, UI state is understood to be model data, even though it doesn't necessarily map to a database ORM entity.

    View-models are also responsible for handling business logic that revolves around UI-specific restrictions.
    For example a form might have an input and a cancel button. In such a case, it's the view-model's responsibility
    to track the current state of the input vs the original state and to apply a cancellation, if required.
    In the event the form was saved, then view-model would delegate saving to a more appropriate ORM model entity.
  */

   // define the view-model
   pmd.vm = {
     init: function() {
       // search results - list of entries
       pmd.vm.list = new pmd.EntryList();

       // search terms - default to empty string
       pmd.vm.searchTerms = m.prop('');

       pmd.vm.addResults = function(results) {
          console.log('addResults', results);
       }
     }
   };

   /*
    In classic MVC, the role of the controller is to dispatch actions from the view to the model layer. In traditional
    server-side frameworks, the controller layer is of large significance because the nature of HTTP requests, responses
    and the framework abstractions that are exposed to developers require that the controller act as an adapter layer
    to transform the serialized data from HTTP requests to something that can be passed to ORM model methods.

    In client-side MVC, however, this dissonance doesn't exist, and controllers can be extremely simple.
    Mithril controllers can be stripped down to a bare minimum, so that they only perform a single essential role:
    to expose a scoped set of model-level functionality. As you may recall, models are responsible for encapsulating
    business logic, and view-models encapsulate logic that pertains specifically to UI state, so there's really nothing
    else for a controller to abstract away, and all it needs to do is expose a slice of the model layer that pertains to
    the UI that is currently in view.
   */

    // In other words, all our controller needs to do is this:
    pmd.controller = function () {
      pmd.vm.init();
    };

    /*
     The next step is to write a view so users can interact with the application. In Mithril, views are plain Javascript.
     This comes with several benefits (proper error reporting, proper lexical scoping, etc.), while still allowing HTML
     syntax to be used via a preprocessor tool
    */

     pmd.view = function() {
       return m("div.container", [

       ])
     }
</script>

  <div class="container">
    <h1 class="title my">ပါဠိ မြန်မာ အဘိ​ဓာ​န​်</h1>

    <div class="search-container">
      <input class="my" type="search" id="search" placeholder="Search..." />
      <span class="icon my">ရှာ</span>
    </div>
    <div class="row">
      <dl class="">
        {% for entry in entries %}
          <dt class="term my">{{ entry.pali }}</dt>
          <dd class="definition my">{{ entry.mm }}</dd>
          {% else %}
          <dd><em>No entries found</em></dd>
        {% endfor %}
      </dl>
    </div>
  </div>


{% endblock %}
