{% extends "layout.html" %}
{% block body %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>


<!--
  <style>
    .nwm-container {
      text-align: center;
    }
    .nwm-left, .nwm-middle, .nwm-right {
      display: inline-block;
      vertical-align: top;
    }

    ul.nwm-keygroup {
      text-align: left;
      list-style: none;
      padding: 0;
      margin: 15px 5px;
    }

    .nwm-key {
      display: inline-block;
      margin: 0 1px;
    }

    .nwm-key-blank {
      visibility: hidden;
    }

    .nwm-key div {
      display: block;
      text-align: center;
      margin-bottom: 5px;
    }

    .nwm-key input {
      font-family: Padauk, sans-serif;
      font-weight: 600;
      font-size: 16px;
      background-color: transparent;
      color: #000000;
      height: 30px;
      width: 38px;
      display: inline-block;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0;
      text-shadow: none;
      line-height: normal;
      border-radius: 5px;
      white-space: normal;
      align-items: flex-start;
      text-align: center;
      box-sizing: border-box;
      margin: 0;
      padding: 2px 6px 3px;
      border: 1px solid #c0c0c0;
      -webkit-appearance: button;
      cursor: pointer;
    }

  </style>

  <div class="nwm-container">
    <div class="nwm-left">
      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>ka</div><input type="button" value="က"></li>
        <li class="nwm-key"><div>kha</div><input type="button" value="ခ"></li>
        <li class="nwm-key"><div>ga</div><input type="button" value="ဂ"></li>
        <li class="nwm-key"><div>g<span>h</span>a</div><input type="button" value="ဃ"></li>
        <li class="nwm-key"><div>nga</div><input type="button" value="င"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>ca</div><input type="button" value="စ"></li>
        <li class="nwm-key"><div>cha</div><input type="button" value="ဆ"></li>
        <li class="nwm-key"><div>ja</div><input type="button" value="ဇ"></li>
        <li class="nwm-key"><div>j<span>h</span>a</div><input type="button" value="ဈ"></li>
        <li class="nwm-key"><div>ña</div><input type="button" value="ဉ"></li>
        <li class="nwm-key"><div>Ña</div><input type="button" value="ည"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>Ṭa</div><input type="button" value="ဋ"></li>
        <li class="nwm-key"><div>Ṭha</div><input type="button" value="ဌ"></li>
        <li class="nwm-key"><div>Ḍa</div><input type="button" value="ဍ"></li>
        <li class="nwm-key"><div>Ḍ<span>h</span>a</div><input type="button" value="ဎ"></li>
        <li class="nwm-key"><div>Ṇa</div><input type="button" value="ဏ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>ta</div><input type="button" value="တ"></li>
        <li class="nwm-key"><div>tha</div><input type="button" value="ထ"></li>
        <li class="nwm-key"><div>da</div><input type="button" value="ဒ"></li>
        <li class="nwm-key"><div>d<span>h</span>a</div><input type="button" value="ဓ"></li>
        <li class="nwm-key"><div>na</div><input type="button" value="န"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>pa</div><input type="button" value="ပ"></li>
        <li class="nwm-key"><div>pha</div><input type="button" value="ဖ"></li>
        <li class="nwm-key"><div>ba</div><input type="button" value="ဗ"></li>
        <li class="nwm-key"><div>b<span>h</span>a</div><input type="button" value="ဘ"></li>
        <li class="nwm-key"><div>ma</div><input type="button" value="မ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>ya</div><input type="button" value="ယ"></li>
        <li class="nwm-key"><div>ra</div><input type="button" value="ရ"></li>
        <li class="nwm-key"><div>la</div><input type="button" value="လ"></li>
        <li class="nwm-key"><div>La</div><input type="button" value="ဠ"></li>
        <li class="nwm-key"><div>wa</div><input type="button" value="ဝ"></li>
        <li class="nwm-key"><div>ha</div><input type="button" value="ဟ"></li>
        <li class="nwm-key"><div>sa</div><input type="button" value="သ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ျ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ြ"></li>
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ွ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ှ"></li>
        <li class="nwm-key"><div>Sa</div><input type="button" value="ဿ"></li>
      </ul>
    </div>

    <div class="nwm-middle">
      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>virama</div><input type="button" value="္"></li>
      </ul>
    </div>

    <div class="nwm-right">
      <ul class="nwm-keygroup">
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>ā</div><input type="button" value="အ"></li>
        <li class="nwm-key"><div>i</div><input type="button" value="ဣ"></li>
        <li class="nwm-key"><div>ī</div><input type="button" value="ဤ"></li>
        <li class="nwm-key"><div>u</div><input type="button" value="ဥ"></li>
        <li class="nwm-key"><div>ū</div><input type="button" value="ဦ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ါ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ာ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ိ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ီ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ု"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ူ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>e</div><input type="button" value="ဧ"></li>
        <li class="nwm-key"><div>o</div><input type="button" value="ဩ"></li>
        <li class="nwm-key"><div>oo</div><input type="button" value="ဪ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ေ"></li>
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ဲ"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="ံ"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="့"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="း"></li>
        <li class="nwm-key nwm-key-blank"><div>&nbsp;</div><input type="button" value=" "></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="်"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="၊"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="။"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="၌"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="၍"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="၎"></li>
        <li class="nwm-key"><div>&nbsp;</div><input type="button" value="၏"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>1</div><input type="button" value="၁"></li>
        <li class="nwm-key"><div>2</div><input type="button" value="၂"></li>
        <li class="nwm-key"><div>3</div><input type="button" value="၃"></li>
        <li class="nwm-key"><div>4</div><input type="button" value="၄"></li>
        <li class="nwm-key"><div>5</div><input type="button" value="၅"></li>
      </ul>

      <ul class="nwm-keygroup">
        <li class="nwm-key"><div>6</div><input type="button" value="၆"></li>
        <li class="nwm-key"><div>7</div><input type="button" value="၇"></li>
        <li class="nwm-key"><div>8</div><input type="button" value="၈"></li>
        <li class="nwm-key"><div>9</div><input type="button" value="၉"></li>
        <li class="nwm-key"><div>0</div><input type="button" value="၀"></li>
      </ul>

    </div>
  </div>

-->
{% endblock %}
